body {
  background-image: url(https://www.nasa.gov/sites/default/files/hs-2014-27-a-xlarge_web.jpg);
  background-size: cover;
}

#whitebox {
  background-color: rgba(255,255,255,0.75);
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}

#text {
  text-align:left;
  padding: 0rem;
  font-size: 24px;
}

#title {
  border-width: medium;
  border-color: black;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.5rem;
  border-bottom-color: black;
  font-size: 6rem;
}

#contact {
  padding-top: 3rem;
}

#pic {
  padding: 0rem;
  margin-top: 6rem;
  width: 30rem;
  border-style: solid;
  border-color: black;
  border-width: 0.5rem;
}

#pic:active {
  top: 4px;
  left: 4px;
}

#subheader {
  text-size: 30px;
}

.section-title {
  padding-top: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

#end {
  padding-bottom: 3rem;
}
